.bg-info-my {
    background-color: #FCEAE8 ;
}
.catagories img{
    width: 100px;
}
.my-button {
    color: whitesmoke;
    border: none;
    padding: 9px 25px ;
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff4b92 100%) ;
    border-radius: 5px;
}